html,
body {
  margin: 0;
  padding: 0;
  background: url(https://media.istockphoto.com/photos/poker-table-felt-background-picture-id510657755?k=6&m=510657755&s=170667a&w=0&h=c9JQ9Vz_Anz98gOcMOADSQG_7xCGLR3JVTNh9mU9Arc=);
  background-size: cover;
}
#wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#opponent-face {
  margin-top: 4vh;
  font-size: 15vh;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

#opponent-deck,
#player-deck {
  height: 20vh;
}

#opponent-deck > * {
  margin-right: 25vw;
}

#player-deck > * {
  margin-left: 25vw;
}

#discard-pile {
  margin: 4vh 0px;
}

.card {
  border-radius: 5px;
  border: 2px solid white;
  background-color: #ffffff;
  width: 15vh;
  height: 21vh;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}
.card-back {
  background: url(https://previews.123rf.com/images/shottythefirst/shottythefirst1403/shottythefirst140300042/26763558-abstract-blue-playing-card-back-pattern-texture.jpg);
  background-size: cover;
}

.card-front {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3vh;
}

.right-side-up {
  position: absolute;
  left: 0.4vh;
  top: 0.4vh;
  padding: 0.5vh;
  text-align: center;
}

.flipped {
  position: absolute;
  right: 0.4vh;
  bottom: 0.4vh;
  padding: 0.5vh;
  transform: rotate(180deg);
  text-align: center;
}

.card-art {
  display: flex;
  flex-flow: row wrap;
}
